## Ignore everything by default
*

## Always keep the ignore file itself
!.gitignore
!build_fftweaks.ps1
!decompile_mod.ps1
!com.iggy.hardcorere.cfg
!com.sinai.combathud.cfg
!Vheos.Mods.Outward.cfg
!.github/
!.github/workflows/
!.github/workflows/**
## Un-ignore only what we actually want to work on.
## NOTE: To un-ignore files within an ignored directory, git requires that each
## parent directory in the path is also un-ignored.

## OutHard: allow only the specified plugins/files
!BepInEx/
!BepInEx/plugins/

!BepInEx/config/
!BepInEx/config/io.mefino.configurationmanager.cfg

!BepInEx/plugins/IggyTheMad-TrueHardcore/
!BepInEx/plugins/IggyTheMad-TrueHardcore/HardcoreRebalance.dll

!BepInEx/plugins/aa_FFTweaks - OutHard Layout/
!BepInEx/plugins/aa_FFTweaks - OutHard Layout/**

!BepInEx/plugins/zz_FFTweaks - OutHard Items/
!BepInEx/plugins/zz_FFTweaks - OutHard Items/**

!BepInEx/plugins/sinai-dev-PvP/
!BepInEx/plugins/sinai-dev-PvP/PvP.dll

